@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  background: #ffe5b4;
}

.container {
  width: 100%;
  max-width: 30rem;
  height: 90vh;
  margin: 5vh auto;
  padding: 0 1em;
  color: #333;
  overflow-y: auto;

  .app-title {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 20px;
    opacity: 0.5;
    font-weight: 700;
  }

  svg {
    width: 64px;
    height: 64px;
  }

  .empty-state {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .checklist-icon {
    margin-bottom: 20px;
  }

  .empty-state__title,
  .empty-state__description {
    margin-bottom: 20px;
  }

  .todo-list {
    list-style: none;
    margin-bottom: 20px;
    &:empty {
      display: none;
    }
    &:empty + .empty-state {
      display: flex;
    }
  }
}

@media only screen and (max-width: 500px) {
  .container {
    max-width: 20rem;
  }
  .app-title {
    font-size: 4rem;
  }
}

.todo-item {
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  span {
    flex-grow: 1;
    font-size: 22px;
    margin: 0 10px;
  }
}

.done span {
  text-decoration: line-through;
}

input[type="checkbox"] {
  display: none;
}

.tick {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #333;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "🗸";
    font-size: 20px;
    display: none;
  }
  .done &::before {
    display: inline;
  }
}

.delete-todo {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  svg {
    width: 30px;
    height: 30px;
    pointer-events: none;
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 3px solid #333;
  }
  .add-btn {
    max-width: 6rem;
    padding: 10px;
    margin-top: 15px;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 10px;
  }
}
